.home {
    height: calc(100vh - 230px);
    display: flex;
    align-items: center;
}

.home .home-container{
    width: 100%;
}

.home .main-home {
    display: grid;
    grid-template-columns: 1fr 3.2fr 3.2fr 1fr;
    padding: 0px 0;
}

.home .main-home .box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home .main-home .box3{
    text-align: right;
}

.home .main-home .box2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home .main-home .box2 .box p, .home .main-home .box2 .box h3 {
    margin-bottom: 10px;
}

.home .main-home .box2 .box h3 strong span{
    font-family: var(--product);
    color: var(--rojo);
}

.home .main-home .box4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.home .main-home .box-img-media img {
    width: 23px;
    padding: 7px 0;
}

.home .main-home .box2 .box h2 {
    font-size: 2.1em;
    margin-bottom: 2px;
}

.home .main-home .box2 .box h3 {
    font-size: 1.9em;
}

.home .main-home .box2 .box p{
    font-family: var(--ibm);
}

.home .show-me {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.home .show-me a {
    font-family: var(--product);
    font-weight: 500;
}

.home .show-me .showmore{
    animation: pulses 3s infinite;
}

@keyframes pulses{

    0% {
        color: var(--blanco);
    }
    25% {
        color: var(--plomo);
    }
    50% {
        color: var(--blanco);
    }
    75% {
        color: var(--plomo);
    }
    100% {
        color: var(--blanco);
    }

}

.home .show-me a img {
    width: 23px;
    margin-left: 5px;
    vertical-align: middle;
}

.consoleDesktop{
    display: flex!important;
} 

.consoleResponsive{
    display: none!important;
}  


@media(max-width:1370px){

    /* consola */
    .home .main-home .box3 {
        display: flex;
        justify-content: flex-end;
    }
    /* fin consola */

}

@media(max-width:800px){
    .home{
        height: 100%;
        display: block;
    }

    .home .main-home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr auto;
        grid-gap: 0px 0px;
        grid-template-areas:
            "box2 box2"
            "box3 box3"
            "box1 box4";
    }

    .box1 { grid-area: box1; }
    .box2 { grid-area: box2; }
    .box3 { grid-area: box3; }
    .box4 { grid-area: box4; }

    .home .main-home .box1,
    .home .main-home .box2,
    .home .main-home .box3,
    .home .main-home .box4{
        justify-content: center;
    }

    .home .main-home .box2 .box{
        width: 100%;
        text-align: center;
    }

    .home .main-home .box1,
    .home .main-home .box4{
        flex-direction: inherit;
        display: block;
        text-align: center;
    }

    .home .main-home .box-img-media img {
        margin: 25px 10px 0px 10px;
    }

    .home .show-me{
        margin-bottom: 50px;
    }

}

@media(max-width:500px){
    
    .home .main-home .box2 .box h3 {
        font-size: 1.5em;
    }

    .home .main-home .box1, 
    .home .main-home .box4{
        display: none;
    }

    .consoleDesktop{
        display: none!important;
    } 

    .consoleResponsive{
        display: flex!important;
    }   
}

@media(max-width:365px){
}