.home .main-home {
    display: grid;
    grid-template-columns: 1fr 3.2fr 3.2fr 1fr;
    padding: 0px 0;
}

.home .main-home .box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home .main-home .box3{
    text-align: right;
}

/* .home .main-home .box3 img {
    width: 350px;
    opacity: 50%;
    
} */

.home .main-home .box2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home .main-home .box2 .box p, .home .main-home .box2 .box h3 {
    margin-bottom: 10px;
}

.home .main-home .box2 .box h3 strong span{
    font-family: var(--product);
    color: var(--rojo);
}

.home .main-home .box4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.home .main-home .box-img-media img {
    width: 23px;
    padding: 7px 0;
}

.home .main-home .box2 .box h2 {
    font-size: 2.1em;
    margin-bottom: 2px;
}

.home .main-home .box2 .box h3 {
    font-size: 1.9em;
}

.home .main-home .box2 .box p{
    font-family: var(--ibm);
}

.home .show-me {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.home .show-me a {
    font-family: var(--product);
    font-weight: 500;
}

.home .show-me a img {
    width: 23px;
    margin-left: 5px;
    vertical-align: middle;
}