.linux_desktop {
    height: 420px;
    background-image: url(../../assets/images/background-linux.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 6px 7px 12px 2px #0c0c0c;
    border-radius: 4px;
}

.linux_desktop .console {
    width: 360px;
    height: 280px;
    background-color: #320a24;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 4px 3px 5px 0px #0000006e;
    overflow: hidden;
    opacity: 0.8;
    cursor: move;
}

.linux_desktop .console .scrollbar-top {
    display: flex;
    padding: 6px 5px;
    background-color: #3b3a36;
}

.linux_desktop .console .scrollbar-top .scrollbar-boton {
    width: 9px;
    height: 9px;
    background-color: #fff;
    margin: 0 1px;
    border-radius: 50%;
}

.linux_desktop .console .scrollbar-top .scrollbar-boton1{
    background-color: #ea6125;
}

.linux_desktop .console .text-console {
    box-sizing: border-box;
    padding: 25px 15px;
    width: 100%;
    height: 100%;
    text-align: left;
}


@media(max-width:1370px){

    /* consola */
    .linux_desktop {
        height: 320px;
        width: 410px;
        margin: 0;
    }

    .linux_desktop .console {
        width: 320px;
        height: 230px;
    }

    .linux_desktop .console h5 {
        font-size: 0.7em;
    }
    /* fin consola */

}

@media(max-width:800px){
    .linux_desktop {
        height: auto;
        width: auto;
        background: transparent;
    }

    .linux_desktop .console{
        margin: 0;
        opacity: 1;
    }
}

@media(max-width:500px){
    .linux_desktop .console{ 
        width: 270px;
        height: 220px;
    }
}

@media(max-width:370px){

    

}