.layout{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.layout .main {
    width: 100%;
}

.layout .main .header {
    margin-top: 90px;
}

.layout .main .header h1 {
    font-size: 1.2em;
    font-weight: 400;
    display: inline;
}

.layout .footer{
    width: 100%;
    align-self: flex-end;
    text-align: center;
    padding: 10px 0;
}

.layout .footer h6{
    color: var(--plomo)
}

/* .layout .main .body-app {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
} */

@media(max-width:1370px){

}

@media(max-width:800px){
    .layout .main .header {
        margin-top: 70px;
    }

}

@media(max-width:500px){
    .layout .main .header {
        margin-top: 30px;
    }
}

@media(max-width:370px){

}