.structure {
    margin-top: 55px;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    grid-template-rows: 90px 1fr;
    grid-gap: 0px 0px;
    grid-template-areas:
        ". stt_title ."
        "stt_menu stt_info stt_media";
}

.structure .stt_title { grid-area: stt_title; }
.structure .stt_menu { grid-area: stt_menu; }
.structure .stt_info { grid-area: stt_info; }
.structure .stt_media { grid-area: stt_media; }

.structure .stt_title img {
    display: inline-block;
    width: 22px;
    vertical-align: middle;
    margin-right: 5px;
}

.structure .stt_title h2{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.button-menu {
    display: none;
}

/* .structure {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 200px 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "stt_1 stt_title stt_3"
      "stt_menu stt_info stt_media";
}

.structure .stt_title { grid-area: stt_title; }
.structure .stt_1 { grid-area: stt_1; }
.structure .stt_3 { grid-area: stt_3; }
.structure .stt_menu { grid-area: stt_menu; }
.structure .stt_info { grid-area: stt_info; }
.structure .stt_media { grid-area: stt_media; } */


@media(max-width:1370px){
    .structure{
        margin-top: 30px;
    }
}

@media(max-width:800px){
    .structure {
        width: 100%;
        margin-top: 25px;
        display: grid;
        grid-template-columns: 0% 100% 0%;
        grid-template-rows: 65px auto auto;
        grid-template-areas:
            "stt_title stt_title stt_title"
            "stt_info stt_info stt_info"
            "stt_media stt_media stt_media";
    }

    .structure .button-menu {
        display: block;
        position: absolute;
        top: 72px;
        right: 20px;
        z-index: 5;
    }

    .structure .button-menu button{
        background-color: transparent;
        border: transparent;
    }

    .structure .button-menu button:focus {
        outline: 0px dotted;
        outline: 0px auto -webkit-focus-ring-color;
        outline: none;
    }

    .structure .button-menu button img {
        width: 25px;
    }

    .structure .show_menu{
        display: flex!important;
    }

    .structure .close_menu{
        display: none;
    }

    .structure .stt_menu {
        width: 100%;
        z-index: 3;
        position: fixed;
        background-color: var(--fondo);
        top: 0;
        left: 0;
        height: 100%;
        box-sizing: border-box;
        padding: 70px 30px;
        align-items: center;
        justify-content: center;
    }

    .structure .stt_info {
        margin-bottom: 30px;
    }
    
    .structure .stt_media {
        margin-bottom: 15px;
    }



}

@media(max-width:500px){
    .structure .button-menu {
        top: 30px;
    }
}

@media(max-width:365px){

}