.tabbs {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    box-sizing: border-box;
    padding: 0 20px;
}

.tabbs .button-tabs {
    box-sizing: border-box;
    padding-top: 6px;
    border-left: 1px solid var(--lineas);
    height: 200px;
}

.tabbs .button-tabs .tabs {
    background-color: transparent;
    color: var(--blanco);
    font-family: var(--ibm);
    font-size: 0.9em;
    display: block;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
    padding-left: 12px;
    border-left: 1px solid transparent;
    box-sizing: border-box;
}

.tabbs .button-tabs .active-tabs{
    color: var(--rojo);
    border-left: 1px solid var(--rojo);
    z-index: 1;
}

.tabbs .button-tabs .tabs:focus {
    color: var(--rojo);
    border-left: 1px solid var(--rojo);
    z-index: 1;
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline: none;
}

.tabbs .button-tabs .tabs:hover{
    color: var(--plomo);
}

.tabbs .descrip-tabs .descrip {
    display: none;
}

.tabbs .descrip-tabs .active-descrip {
    display: block;
}

.tabbs .descrip-tabs .active-descrip img {
    filter: brightness(0.5);
}


@media(max-width:1370px){
    
}

@media(max-width:800px){
    .tabbs{
        display: block;
        margin-top: 10px;
        padding: 0;
    }

    .tabbs .button-tabs {
        height: auto;
        border-left: none;
        border-bottom: 1px solid var(--lineas);
        display: flex;
        margin-bottom: 30px;
        overflow-x: scroll;
    }

    .tabbs .button-tabs .tabs {
        display: inline-block;
        padding: 6px 0px;
        margin: 0 10px;
    }

    .tabbs .button-tabs .tabs:focus {
        border-left: none;
        border-bottom: 1px solid var(--rojo);
    }

    .tabbs .button-tabs .active-tabs{
        border-left: none;
        border-bottom: 1px solid var(--rojo);
    }


}

@media(max-width:500px){

}

@media(max-width:365px){

}